body {

    margin: 0;
    padding: 0;
}
*{
	font-family: '微软雅黑';
}
.search_Box{
	
	
}
.search_val{
	height:45px;
}
.search_btn{
	height:45px;
	cursor: pointer;
}
.logo img{
	margin:20px 0;
	width:150px;
	height:70px;
    border:3px solid black;
}
.search_obj{
	margin:30px 0;
}
.logo{
	overflow:hidden;
}