<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>月老在线 修改资料</title>
        <link href="" rel="shortcut icon" />
        <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js">
        </script>
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/mode/checkIn.css" />
        <script type="text/javascript" src="js/layer.js"></script>
        <script type="text/javascript" src="js/md5.js"></script>
        <script type="text/javascript" src="js/mock.js"></script>
        <script type="text/javascript" src="js/getSession.js"></script>
    </head>

    <body style="background-color: #F1F1F1;">
        <div class="container" style="background-color: #fff;padding:20px 0 0 200px;">
            <div class="office_name">
                修改个人资料
            </div>
            <article class="banner" ng-app="infoApp" ng-controller="infoCtr">
                <section class="left_menu">
                    <ul>
                        <li name="mybasic" class="li_active">基本信息</li>
                        <li name="myintro">自我介绍</li>
                        <li name="mydetail">详细信息</li>
                        <li name="myrequire">择偶条件</li>
                        <li name="myphotos">我的照片</li>
                    </ul>
                </section>
                <section class="right_cont">
                    <form name="infoForm" id="infoForm">
                         <ul>
                            <li class="mybasic">
                                <div>
                                    <div class="form-inline">
                                        <label for="">头像：</label>
                                        <input type="file" class="col-md-8 form-control">
                                    </div>
                                    <div class="form-inline">
                                        <label for="">婚姻状况：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_married in users.user_info_married" ng-bind="user_married"></option>
                                          
                                        </select>
                                    </div>
                                 <!--   <div class="form-inline">
                                        <label for="">月收入：</label>
                                        <select class="form-control col-md-4" name="" id="">
                                            <option ng-repeat="user_salary in users.user_info_salary" ng-bind="user_salary"></option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">星座：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_constellation in users.user_info_constellation" ng-bind="user_constellation"></option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">生肖：</label>
                                        <select class="form-control col-md-4" name="" id="">
                                            <option ng-repeat="user_animal in users.user_info_animal" ng-bind="user_animal"></option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">身高：</label>
                                        <select class="form-control col-md-4" name="" id="">
                                            <option ng-repeat="user_height in users.user_info_height" ng-bind="user_height"></option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">学历：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_education in users.user_info_education" ng-bind="user_education"> </option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">籍贯：</label>
                                        <select class="form-control col-md-3 prov1"></select>
                                        <select class="form-control col-md-3 proc1"  ></select>
                                       
                                       
                                       
                                    </div>
                                    <div class="form-inline">
                                        <label for="">民族：</label>
                                        <select class="form-control col-md-3 " name="" id="">
                                            <option  ng-repeat="user_info_nation in users.user_info_nation" ng-bind="user_info_nation">汉</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">工作地区：</label>
                                        <select class="form-control col-md-3 prov2" name="prov" >
                                        </select>
                                        &nbsp;
                                        <select class="form-control col-md-3 proc2" name="proc" >
                                        </select>
                                        
                                    </div>
                                   
                                    <div class="form-inline">
                                        <label for="">昵称：</label>
                                        <input type="text" class="col-md-4 form-control">
                                    </div>
                                    <div class="form-inline">
                                        <label for="">身份证号：</label>
                                        <input type="text" class="col-md-4 form-control">
                                    </div>
                                    <div class="form-inline" style="display: none;">
                                        <label for="">婚介所：</label>
                                        <input type="text" class="col-md-4 form-control">
                                    </div>
                                </div>
                            </li>
                            <li class="myintro">
                                <h6 class="text-muted">自我介绍</h6>
                                <textarea class="form-control" ng-bind="user_introduce" cols="100%" rows="10"></textarea>
                                <p />
                                <div class="text-muted">请介绍一下自己，让对方更了解自己</div>
                                <div class="tips">
                                    <div class="">温馨提示:</div>
                                    <div class="col-md-10" >为保障个人用户信息安全，文字中请勿出现QQ、微信、微博、联系电话等联系方式</div>
                                </div>
                            </li>
                            <li class="mydetail">
                                <div>
                                    <div class="form-inline" class="user_prefession">
                                        <label for="">职业：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_info_profession in users.user_info_profession" ng-bind="user_info_profession"></option>
                                        </select>
                                    </div>
                                    <div class="form-inline" class="user_sex">
                                        <label for="">性别：</label>
                                        <select class="form-control col-md-2" name="" id="">
                                            <option value="">男</option>
                                            <option value="">女</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">出生日期：</label>
                                        <input type="date" class="col-md-4 form-control">
                                    </div>
                                    <div class="form-inline">
                                        <label for="">真实姓名：</label>
                                        <input type="text" class="col-md-4 form-control">
                                    </div>
                                    <div class="form-inline">
                                        <label for="">体重：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_info_weight in users.user_info_weight" ng-bind="user_info_weight"></option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">有无子女：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_info_child in users.user_info_child" ng-bind="user_info_child"></option>
                                          
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">信仰：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_info_believe in users.user_info_believe" ng-bind="user_info_believe">不限</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">购房情况：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_info_house in users.user_info_house" ng-bind="user_info_house">不限</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">吸烟：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_info_smoke in users.user_info_smoke" ng-bind="user_info_smoke">不限</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">喝酒：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_info_drink in users.user_info_drink" ng-bind="user_info_drink">不限</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">购车：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_info_car in users.user_info_car" ng-bind="user_info_car">不限</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">厨艺：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_info_cook in users.user_info_cook" ng-bind="user_info_cook">不限</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">家务态度：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_info_homework in users.user_info_homework" ng-bind="user_info_homework">不限</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="myrequire">
                                <div>
                                    <div class="form-inline">
                                        <label for="">年龄：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_choice_min_age in users.req_age" ng-bind="user_choice_min_age"></option>
                                        </select>
                                        &nbsp;
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_choice_max_age in users.req_age" ng-bind="user_choice_max_age"></option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">购房情况：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_choice_house in users.user_info_house" ng-bind="user_choice_house">不限</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">购车情况：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_choice_car in users.user_info_car" ng-bind="user_choice_car">不限</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">学历：</label>
                                        <select class="form-control col-md-5" name="" id="">
                                            <option ng-repeat="user_choice_education in users.user_info_education" ng-bind="user_choice_education">不限</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">有无子女：</label>
                                        <select class="form-control col-md-5" name="" id="">
                                            <option ng-repeat="user_choice_child in users.user_info_child" ng-bind="user_choice_child">不限</option>
                                        </select>
                                    </div>
                                    <div class="form-inline" class="user_choice_life_area">
                                        <label for="">工作地区：</label>
                                        <select class="form-control col-md-3 prov3" name="" id="">
                                            <option value="">河南</option>
                                        </select>
                                        &nbsp;
                                        <select class="form-control col-md-3 proc3" name="" id="">
                                            <option value="">郑州</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">体重：</label>
                                        <select class="form-control col-md-5" name="" id="">
                                            <option ng-repeat="user_choice_height in users.user_info_weight" ng-bind="user_choice_height">不限</option>
                                        </select>
                                    </div>
                                    <div class="form-inline">
                                        <label for="">月收入：</label>
                                        <select class="form-control col-md-5" name="" id="">
                                            <option ng-repeat="user_choice_salary in users.user_info_salary" ng-bind="user_choice_salary"">不限</option>
                                        </select>
                                    </div>
                                   
                                    <div class="form-inline">
                                        <label for="">婚姻状况：</label>
                                        <select class="form-control col-md-3" name="" id="">
                                            <option ng-repeat="user_choice_married in users.user_info_married" ng-bind="user_choice_married">未婚</option>
                                            
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="myphotos">
                                <input type="file" style="display: none;">
                                <div class="upload_btn">+</div>
                            </li>
                        </ul> -->
                    </form>
                </section>
                <section style="width:100%;text-align: center;">
                    <div ng-click="saveInfo()" class="btn btn-primary sub_all">保存</div>
                </section>
                <br />
                <br />
                <br />
                <br />
                <br />
            </article>
        </div>
    </body>
     <script class="resources library" src="js/homeMode/area.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/homeMode/com.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/homeMode/change_info.js"></script>
     <script type="text/javascript">
                                        $(document).ready(function() {
                                            $.initProv(".prov1", ".proc1", "河南省", "郑州市");
                                        });
                                        $(document).ready(function() {
                                            $.initProv(".prov2", ".proc2", "河南省", "郑州市");
                                        });
                                         $(document).ready(function() {
                                            $.initProv(".prov3", ".proc3", "河南省", "郑州市");
                                        });
                                        </script>
    <script>
    $(".left_menu ul li").click(function() {
        var index = $(this).index();
        $(this).siblings().removeClass('li_active');
        $(this).addClass('li_active');

        $(".right_cont ul li").eq(index).css("display", "block");
        $(".right_cont ul li").eq(index).siblings().css("display", "none");
    });
    </script>

</html>