<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="ie=edge" http-equiv="X-UA-Compatible" />
        <link href="" rel="shortcut icon" />
        <title>月老在线 婚介所详情</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <script type="text/javascript" src="js/md5.js"></script>
        <script type="text/javascript" src="js/layer.js"></script>
        <link href="css/common.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/mode/info_det.css">
        <!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
        <!--[if IE 8]>
       
     <link rel="stylesheet" href="css/ie8.css" />
      <div class='ie_page'>
        <div>
          <h5>提示： 您的浏览器不兼容，请下载下列任意一种浏览器，保证您能使用 完整功能.谢谢合作</h5>
        </div>
        &nbsp;&nbsp;
        <a href="http://www.baidu.com/link?url=-b7o4tRJ-D_uLxiGwRJ6pS6oRYCVGqFWamxTTu59njUTUhD_51Y6HM_Is98u1A_vbNp23Tfac6eDTTHK_rlhRxWdoU-al0Y0yAmxDmgPlIy">
          谷歌浏览器
      
        </a>&nbsp;&nbsp;&nbsp;
        <a href='http://down.360safe.com/se/360se9.1.0.342.exe'>
          360浏览器
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="http://download.theworld.cn/twc/theworld_chrome_4.3.0.102.exe">
          世界之窗
        </a>
      </div>
<![endif]-->
    </head>

    <body style="background-color: #F1F1F1;">
        <main class="container detail_box" style="" ng-app="userInfoApp" ng-controller="userCtr">
            <article class="dt_top" style="background-color: #fff;padding: 20px;">
                <div class="t_menu text-muted">
                    <span>网站</span>&nbsp;>
                    <span>婚恋</span>&nbsp;>
                    <span>个人主页 </span>
                </div>
                <div class="office_info">
                    <div class="office_img">
                        <img width="250" height="300" src="" alt="正在加载">
                        <style>
                            .yulanImg img{
                                cursor: pointer;
                                display: inline-block;
                                margin-right:2px;
                                border: 2px solid #000;
                            }
                        </style>
                        <div class="yulanImg"  >
                          
                           
                               
                            
                              
                         
                           </div>
                    </div>
                    <div class="office_text">
                        <div class="text_line1">
                            <span class="office_title" ng-bind="userInfo.user_nickname"></span>
                            <span class="fa fa-star-o fa-2x"></span>
                        </div>
                        <div class="office_text_line text_line2">
                            <div class="office_ages">
                                <span>年龄:</span>
                                <span ng-bind="userInfo.user_age"></span>
                            </div>
                            <div class="office_users">
                                <span>地区:</span>
                                <span>河南</span>
                                <span>郑州</span>
                            </div>
                        </div>
                        <div class="office_text_line text_line3">
                            <div class="office_tel">
                                <span>婚况:</span>
                                <span ng-bind="list.user_info_married[userInfo.user_married]"></span>
                            </div>
                            <div class="office_users">
                                <span>身高:</span>
                                <span ng-bind="list.user_info_height[userInfo.user_height]"></span>
                            </div>
                        </div>
                        <div class="office_text_line text_line3">
                            <div class="office_tel">
                                <span>月薪:</span>
                                <span ng-bind="list.user_info_salary[userInfo.user_salary]"></span>
                            </div>
                            <div class="office_users">
                                <span>学历:</span>
                                <span ng-bind="list.user_info_education[userInfo.user_education]"></span>
                            </div>
                        </div>
                        <div class="office_text_line text_line3">
                            <div class="office_tel">
                                <span>星座:</span>
                                <span ng-bind="list.user_info_constellation[userInfo.user_constellation]"></span>
                            </div>
                            <div class="office_users">
                                <span>民族:</span>
                                <span ng-bind="list.user_info_nation[userInfo.user_nation]"></span>
                            </div>
                        </div>
                        <div class="office_text_line text_line3">
                            <div class="office_tel">
                                <span>生肖:</span>
                                <span ng-bind="list.user_info_animal[userInfo.user_animal]"> </span>
                            </div>
                            <div class="office_users">
                                <span>籍贯:</span>
                                <span ng-bind="cityArray[userInfo.user_origin-1][0]"></span>
                            </div>
                        </div>
                        <div class="office_text_line text_line5">
                            <div class="bg-danger">打招呼</div>
                            <div class="bg-info">找红娘</div>
                        </div>
                        <div class="office_text_line user_detail_tel text_line3">
                            <div class="office_tel" style="font-size: 24px;">
                                <span></span>
                                <span ng-if="userInfo.user_maid==0" class="text-success">未加入婚介所</span>
                            </div>
                            <div class="office_tel" style="font-size: 24px;">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="dt_bottom">
                <section class="dt_b_l">
                    <div class="dt_b_lt office_des">
                        <div class="dt_b_lt_title">
                            <i class="fa fa-address-card-o fa-2x text-primary"></i>
                            <span>自我介绍</span>
                        </div>
                        <div class="dt_b_lt_des_cont" ng-bind="userInfo.user_introduce">
                        </div>
                    </div>
                    <div class="dt_b_lb office_users_lists">
                        <div class="dt_b_lt_title">
                            <i class="fa fa-address-card-o fa-2x text-primary"></i>
                            <span>生活情况</span>
                        </div>
                        <div class="office_users_lists_cont" style="padding-left:38px;">
                            <div class="office_text_line text_line3">
                                <br />
                                <div class="office_tel">
                                    <span>月薪:</span>
                                    <span ng-bind="list.user_info_salary[userInfo.user_salary]"></span>
                                </div>
                                <div class="office_users">
                                    <span>购车:</span>
                                    <span ng-bind="list.user_info_car[userInfo.user_car]"></span>
                                </div>
                            </div>
                            <div class="office_text_line text_line3">
                                <div class="office_tel">
                                    <span>住房:</span>
                                    <span ng-bind="list.user_info_house[userInfo.user_house]"></span>
                                </div>
                                <div class="office_users">
                                    <span>吸烟:</span>
                                    <span ng-bind="list.user_info_smoke[userInfo.user_smoke]"></span>
                                </div>
                            </div>
                            <div class="office_text_line text_line3">
                                <div class="office_tel">
                                    <span>饮酒:</span>
                                    <span ng-bind="list.user_info_drink[userInfo.user_drink]"> </span>
                                </div>
                                <div class="office_users">
                                    <span>厨艺:</span>
                                    <span ng-bind="list.user_info_cook[userInfo.user_cook]"> </span>
                                </div>
                            </div>
                            <div class="office_text_line text_line3">
                                <div class="office_tel">
                                    <span>家务:</span>
                                    <span ng-bind="list.user_info_homework[userInfo.user_homework]"> </span>
                                </div>
                                <div class="office_users">
                                    <span>宗教信仰:</span>
                                    <span ng-bind="list.user_info_believe[userInfo.user_believe]"></span>
                                </div>
                            </div>
                            <div class="office_text_line text_line3">
                                <div class="office_tel">
                                    <span>职业:</span>
                                    <span ng-bind="list.user_info_profession[userInfo.user_profession]"> </span>
                                </div>
                                <div class="office_users">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="dt_b_lb office_users_lists">
                        <div class="dt_b_lt_title">
                            <i class="fa fa-address-card-o fa-2x text-primary"></i>
                            <span>择偶条件</span>
                        </div>
                        <div class="office_users_lists_cont" style="padding-left:38px;">
                            <div class="office_text_line text_line3">
                                <br />
                                <div class="office_tel">
                                    <span>年龄:</span>
                                    <span ng-bind="list.req_age[userInfo.user_choice_max_age]"> </span>
                                </div>
                                <div class="office_users">
                                    <span>身高:</span>
                                    <span ng-bind="list.user_info_height[userInfo.user_choice_height]"> </span>
                                </div>
                            </div>
                            <div class="office_text_line text_line3">
                            </div>
                            <div class="office_text_line text_line3">
                                <div class="office_tel">
                                    <span>月收入:</span>
                                    <span ng-bind="list.user_info_salary[userInfo.user_choice_salary]"> </span>
                                </div>
                                <div class="office_users">
                                    <span>婚姻状况:</span>
                                    <span ng-bind="list.user_info_married[userInfo.user_choice_married]"> </span>
                                </div>
                            </div>
                            <div class="office_text_line text_line3">
                                <div class="office_tel">
                                    <span>工作地区:</span>
                                    <span ng-bind="cityArray[userInfo.user_choice_life_area.split('-')[0]-1][0]"> </span>
                                </div>
                                <div class="office_users">
                                    <span>购房:</span>
                                    <span ng-bind="list.user_info_house[userInfo.user_choice_house]"> </span>
                                </div>
                                <div class="office_tel">
                                    <span>购车:</span>
                                    <span ng-bind="list.user_info_car[userInfo.user_choice_car]"> </span>
                                </div>
                                <div class="office_tel">
                                    <span>学历:</span>
                                    <span ng-bind="list.user_info_education[userInfo.user_choice_education]"> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="dt_b_r intro_box">
                    <div class="dt_b_lt_title" style="border-bottom: 1px dotted #BABABA;padding-bottom:10px;margin-bottom: 10px;">
                        <span>猜你喜欢</span>
                    </div>
                    <dl class="intro_office_users_list" ng-repeat="intro in Introduce">
                        <dd user_id="{{intro.user_id}}">
                            <img alt="用户未设置" src="http://www.yuelao666.com{{intro.user_head_img}}">
                        </dd>
                        <dt>
                            <div style="overflow:hidden;text-overflow: ellipsis;white-space: wrap;" class="user_nickName" ng-bind="intro.user_nickname"></div>
                            <div class="user_NickInfo">
                                <span class="list_ages">
                                    <span ng-bind="intro.user_age"></span>
                                </span>
                                <span class="list_city">
                                    <span ng-bind="cityArray[intro.user_life_area][0]"></span>
                                </span>
                            </div>
                            <div class="user_Nick_des" ng-bind="intro.user_introduce">
                            </div>
                        </dt>
                    </dl>
                </section>
            </article>
        </main>
    </body>
    <script type="text/javascript" src="js/homeMode/area.js"></script>
    <script type="text/javascript " src="js/homeMode/com.js "></script>
    <script type="text/javascript " src="js/angular.js "></script>
    <script type="text/javascript" src="js/homeMode/user_detail.js"></script>
    <script type="text/javascript">
       
        $(function(){
            var src=$(".yulanImg img").eq(0).attr("src");
             $(".office_img img").attr("src",src);
        })
       $(".yulanImg img").click(function(event) {
           var src=$(this).attr("src");
           $(".office_img img").attr("src",src);
       });
   </script>
</html>