<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <link href="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1516091843456&di=5561920b164547e9de3ee5b14b179129&imgtype=0&src=http%3A%2F%2Fwww.qqtn.com%2Fup%2F2011-2%2F20112512256819.gif" rel="shortcut icon" />
    <title>月老在线 婚恋</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
   <link rel="stylesheet" href="css/kkPageCss.css" />
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
     <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="css/mode/wed.css" rel="stylesheet" />
    <script type="text/javascript" src="js/layer.js"></script>
    <script type="text/javascript" src="js/mock.js"></script>
   <script type="text/javascript" src="js/angular.js"></script>

<body style="background-color:#F1F1F1;">

   <main class="container" ng-app="Myapp" style="background-color: #fff;">
    <article class="filter_banner">
      <div class="text-muted page_loc">
          <span>郑州</span>
          <span>></span>
          <span>婚恋</span>
       </div>
       <section class="filter_box" ng-controller="filterUserCtr">
           <div class="filter_title">已选条件:</div>
           <div class="filter_cont"  >
              <select  id="user_Gender"  >
                <option ng-repeat="x in Userselectors.user_Gender" >{{x}}</option>
              </select>
              <select  id="user_info_married" ng-option >
                <option  ng-repeat="x in Userselectors.user_info_married">{{x}}</option>
              </select>
              <select  id="user_info_salary" >
                <option  ng-repeat="x in Userselectors.user_info_salary">{{x}}</option>
              </select>
              <select  id="user_info_constellation" >
                <option  ng-repeat="x in Userselectors.user_info_constellation">{{x}}</option>
              </select>
              <select  id="user_info_animal" >
                <option  ng-repeat="x in Userselectors.user_info_animal">{{x}}</option>
              </select>
              <select  id="user_info_height" >
                <option  ng-repeat="x in Userselectors.user_info_height">{{x}}</option>
              </select>
              <select  id="user_info_education" >
                <option  ng-repeat="x in Userselectors.user_info_education">{{x}}</option>
              </select>
              <select  id="user_info_nation" >
                <option  ng-repeat="x in Userselectors.user_info_nation">{{x}}</option>
              </select>
              <select  id="user_info_profession" >
                <option  ng-repeat="x in Userselectors.user_info_profession">{{x}}</option>
              </select>
              <select  id="user_info_weight" >
                <option  ng-repeat="x in Userselectors.user_info_weight">{{x}}</option>
              </select>
              <select  id="user_info_child" >
                <option  ng-repeat="x in Userselectors.user_info_child">{{x}}</option>
              </select>
              <select  id="user_info_believe" >
                <option  ng-repeat="x in Userselectors.user_info_believe">{{x}}</option>
              </select>
              <select  id="user_info_house" >
                <option  ng-repeat="x in Userselectors.user_info_house">{{x}}</option>
              </select>
              <select  id="user_info_smoke" >
                <option  ng-repeat="x in Userselectors.user_info_smoke">{{x}}</option>
              </select>
              <select  id="user_info_drink" >
                <option  ng-repeat="x in Userselectors.user_info_drink">{{x}}</option>
              </select>
              <select  id="user_info_car" >
                <option  ng-repeat="x in Userselectors.user_info_car">{{x}}</option>
              </select>
              <select  id="user_info_cook" >
                <option  ng-repeat="x in Userselectors.user_info_cook">{{x}}</option>
              </select>
               <select  id="user_info_homework" >
                <option  ng-repeat="x in Userselectors.user_info_homework">{{x}}</option>
              </select>
           </div>
           <div class="filter_setting">
              <i class="fa fa-arrow-circle-o-down text-primary filter_setIcon"></i>
              <span class="text-primary">设置更多条件</span>
           </div>

       </section>
       
    </article>
     <article class="user_box_big" ng-controller="AllUserCtr">
          <ul class="user_box" id="content" >
            <li class="s_user_box" ng-repeat="user in Allusers">
              <dl>
                <dd class="user_header_img">
                 <img src="{{user.headerImg}}">
                </dd>
                <dt>
                   <h5 class="user_neck_name" ng-bind="user.name"></h5>
                   <div>
                     <span class="user_age" ng-bind="user.age"></span>,
                     <span class="user_height" ng-bind="user.height"></span>
                   </div>
                   <div>
                     <span class="user_isMarry" ng-bind="user.isMarry"></span>,
                     <span class="user_city" ng-bind="user.city"></span>
                   </div>
                   <div class="sayHellobtn">
                      打招呼
                   </div>
                </dt>
              </dl>
            </li>
          </ul>
        
          
       </article>
   </main>
     
</body>
   <script type="text/javascript" src="js/jquery.kkPages.js"></script>
<script type="text/javascript" src="js/homeMode/wed.js"></script>
</html>