/*
*name：房产
*user:capufa;
*email:13523450460@sina.cn;
*date:2018/02/02;
*/
*{
	padding: 0;
	margin:0;
	list-style: none;
	text-decoration: none;
	font-family:"微软雅黑";
}
.container{
	width: 70%;


}
.page_loc {
    padding-top: 17px;
    font-size: 13px;
}
.filter_cont div{
	display: inline-block;
	line-height:35px;
}
.filter_title {
	font-weight: bolder;
    
    font-size: 14px;
    width: 8%;
}
.filter_box{
	padding-top:15px;
}
.filter_cont{
    width:91%;
    
}

.filter_con span:nth-child(1){
	color:#1A5DAF;
}
.filter_con span{
	cursor: pointer;
	display: inline-block;
	color: #828282;
	padding:3px 5px; 
	font-size: 13px;
}
.filter_cont select {
    color: #948EA2;
    display: inline-block;
    width:140px;
    border:1px solid #BABABA;
    font-size: 12px;
    margin: 0 3px 10px 0;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    padding-left:10px;
    appearance:none;  
   -moz-appearance:none;  
   -webkit-appearance:none;  
   background: url("../../images/seleArrow.png") no-repeat right center transparent; 
   background-size:17px 12px; 
    

}
select::-ms-expand { display: none; } 
.choosen{
    height:40px;
}
.nav_h_res{
    border-bottom:2px solid #4082D4;
}
.nav_h_res li{
    cursor:pointer;
    display:inline-block;
    width:8em;
     font-size: 16px;
     line-height:40px;
     text-align: center;
}
.nav_active{
    background-color:#4082D4;
    color:#fff;
}
.nav_h_res li:hover{
    background-color:#4082D4;
    color:#fff;
}
.house_box dd,.house_box dt{
    display:inline-block;
    vertical-align: top;
}
.house_box dt{
    width:80%;
    
}
.house_box .house_img{
   
    width:15%;
    text-align:center;
}
.house_box .house_img img{
    width:100%;
    height:100%;
}
.house_box dt{
    padding-left:20px;
}
.house_box dt .house_title{
    
    color:#000;
    font-weight: bold;
    font-size: 1.2em;
    line-height:40px;
}
.house_box span:not(.house_title){
     color:#555;
     font-weight:500;
     font-size: 0.9em;
     line-height:30px;
}
.Pagination a:hover, .Pagination a.PageCur{
    background-color: #4082D4;
}
.dt_b_lt_title{
    font-weight: bold;

    font-size:20px;
    line-height: 40px;
}