/*婚恋*/
*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";}
.container {
   width: 70%;
   padding: 0;
}
.page_loc {
    padding-top: 17px;
    font-size: 13px;
}
.filter_banner {
   width: 96%;
   margin-left:2%;
}

.filter_box div {
    margin-top: 10px;
    vertical-align: top;
}
.filter_title {
	font-weight: bolder;
    display: inline-block;
    text-align: left;
    font-size: 14px;
    width: 10%;
}
.filter_cont {
    display: inline-block;
    display: inline-block;
    width: 74%;
}
.filter_cont select {
    color: #948EA2;
    display: inline-block;
    width: 19%;
    border:1px solid #BABABA;
    font-size: 12px;
    margin: 0 3px 10px 0;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    padding-left:10px;
    appearance:none;  
   -moz-appearance:none;  
   -webkit-appearance:none;  
   background: url("../../images/seleArrow.png") no-repeat right center transparent; 
   background-size:17px 12px; 
    

}
select::-ms-expand { display: none; } 
.filter_setting {
    font-size: 14px;
    display: inline-block;
    display: inline-block;
    width: 14%;
}

/*个人页*/
.user_box_big{
    padding-top:20px; 
    background-color: #F1F1F1;
}
.user_box{
    margin: 0;
    padding: 0;
    width:100%;
    flex-wrap:nowrap;
    display: flex;
    flex-wrap:wrap;
}

.s_user_box{
    height: 260px;
    list-style: none;
    margin:0;
    width:16.66%;
    margin-top:15px;
   
}
.user_box .s_user_box:nth-child(6n-5){
   
}
.user_box .s_user_box:nth-child(6n){
    margin-right:0;
}
.s_user_box dl{
    background-color:#fff;
    border-radius:2px;
    width:85%;
    margin: 0 auto;
    height: 100%;
    
    padding-top: 10px;
    text-align: center;
}
.s_user_box dl dd{
    margin:0 auto;
    width:80%;
    height:44%;
   
    overflow:hidden;
}
.s_user_box dl dt{

    color: #848484;
    font-weight:200;
    font-size: 13px;
    
    padding-top:12px;
}
.s_user_box dl dt div span{
    display: inline-block;
   
    overflow: hidden;
    white-space: nowrap;
}
}
.s_user_box dl dt h5{
    margin-bottom:10px;
    color: #5590D9;
    text-align: center;   
}
.user_header_img{
 
}
.user_header_img img{
    width: 100%;
    height: 100%;
}
.sayHellobtn{
    background-color: #EA4661;
    color: #fff;
    width:65%;
    margin:13px auto;
    text-align: center;
    border-radius:20px;
    line-height:26px;
    cursor: pointer;
}
/*婚介所*/
.office_boxes{
    background-color: #fff;
    width:100%;
    padding:0 10px;
    border-radius:2px;
    margin:8px auto;
    height: 140px;

}
.office_boxes dd,.office_boxes dt{
   
    height:100%;
    display: inline-block;
    vertical-align:top;
}
.office_boxes dd img{
    width:90%;
    height:90%;
    margin:5% 0;
}
.office_boxes dd{
     width:20%;
     text-align: center;
     height:100%;
    }
    .office_boxes dt{
     height: 100%;
     width:79%;
     
    }
    .office_boxes dt{
        padding:5px 0 0 20px;
        margin-top:10px;
        height:90%;

    }
    .office_info span span{
        display: inline-block;
        color: #797979;
        font-weight:500;
        font-size:15px;
        line-height:30px;
    }
    .office_address{
        color: #797979;
        font-size:15px;
        font-weight:500;
    }
.office_title1{
    font-size:22px;
    font-weight:500; 
    padding-bottom: 6px;  
}

a:hover,
a:active {
    /*text-decoration: underline;*/
    -webkit-transition: color .15s linear, background-color .3s linear;
    -moz-transition: color .15s linear, background-color .3s linear;
    -o-transition: color .15s linear, background-color .3s linear;
    -ms-transition: color .15s linear, background-color .3s linear;
    transition: color .15s linear, background-color .3s linear;
    cursor: pointer;
}

.clear {
    height: 0;
    width: 100%;
    overflow: hidden;
    clear: both;
}

.clear8 {
    height: 8px;
    overflow: hidden;
    clear: both;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}


/* All end */


/* kkPages */

.Pagination {
    
    width: 100%;
    padding:10px;
    height: 55px;
    _height: 45px;
    line-height: 20px;
    margin-right: 15px;
    _margin-right: 5px;
    color: #565656;
    margin-top: 10px;
    _margin-top: 20px;
    clear: both;
}

.Pagination span {
    margin-right: 5px;
    display: block;
    float: left;
    margin-left: 5px;
}

.Pagination span b {
    padding:0 2px;
    display: inline-block;
    line-height: 40px;
}

.Pagination div {
    float: left
}

.Pagination a {
    font-size: 12px;
    text-decoration: none;
    display: block;
    float: left;
    color: #565656;
    border: 1px solid #cacaca;
    height:40px;
    line-height:37px;
    padding: 0 15px;
    border-radius: 4px;
    margin: 0 2px;
}

.Pagination .Ellipsis {
    line-height: 37px;
    overflow: hidden;
    /*display: none;*/
}

cite.FormNum {
    display: block;
    float: left;
    line-height:37px;
    height: 40px;
    font-style: normal;
    padding-left: 10px;
}

#PageNum {
    color: #777;
    width: 50px;
    height: 40px;
    line-height:40px;
    border:1px solid #cacaca;
    margin:0 5px;
    text-align: center;
}

.Pagination a:hover,
.Pagination a.PageCur {
    text-decoration: none;
    background-color: #EA4661;
    border-radius:4px;
    color: #ffffff;
}


/* Demo */

.wrap {
    border: 1px solid red;
    width: 880px;
    margin-right: auto;
    margin-left: auto;
}

.pagelist .item {
    float: left;
    width: 218px;
    border: 1px solid #CCC;
    text-align: center;
}

.newslist {
    line-height: 24px;
}

.newslist ul li {
    height: 24px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #999;
    padding-top: 5px;
    padding-bottom: 5px;
}

.newslist a {
    color: #444
}

/*.newslist ul li div {
    float: left;
    background-image: url(../Images/h-1.gif);
    background-repeat: no-repeat;
    background-position: 4px center;
    padding-left: 16px;
}*/

.newslist ul li span {
    float: right;
    color: #666;
}

.title {
    height: 150px;
    padding-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #036;
    line-height: 25px;
}

.yongfa {
    line-height: 25px;
}

.copy {
    line-height: 25px;
    text-align: center;
}

.copy a {
    color: #000;
}

.copy a:hover {
    color: #F00;
    padding-bottom: 10px;
}

.title font {
    font-size: 12px;
}